@model List<Products>
@{
    ViewBag.Title = "Index";
}

<div class="card bg-white">
    <div class="card-header d-flex flex">

        <a href="/Product/New/" class="btn btn-primary text-end">Yeni Malzeme</a>

    </div>
    <div class="card-body">
        <table id="table" class="table table-striped " style="width:100%">
            <thead>
                <tr>
                    <th>Malzeme İsmi</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ProductName</td>
                        <td>
                            <a class="btn btn-primary" href="/Product/Detail?id=@item.ID">Güncelle</a>
                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>

@section Css{
    <link href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/vendor/izitoast/css/iziToast.min.css">
}
@section scripts{
    <script src="~/Content/vendor/izitoast/js/iziToast.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table').DataTable();
        })
    </script>


}
