
@{
    ViewBag.Title = "New";
}

<div class="card p-3">
    <h2>Yeni Malzeme Ekleme</h2>
    <form>
        <div class="mb-3">
            <label for="productName" class="form-label">Malzeme İsmi</label>
            <input type="text" class="form-control" id="productName" placeholder="" required />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary btn-circle px-2 animate-right-1" type="button" id="add_button">Malzeme Ekle</button>
        </div>
    </form>
</div>

@section Css{
    <link rel="stylesheet" href="~/Content/vendor/izitoast/css/iziToast.min.css">
}
@section scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/Content/vendor/izitoast/js/iziToast.min.js"></script>
    <script>

        $("#add_button").click(function () {
            var $productName = $("#productName").val();
            
            var formdata = new FormData();
            formdata.append("productName", $productName);
           
            $.ajax({
                url: "/Product/Add",
                type: "POST",
                data: formdata,
                contentType: false,
                processData: false,
                beforeSend: false,
                complete: false,
                success: function (data) {
                    if (data != "Failed") {
                        iziToast.success({
                            title: "Başarılı",
                            message: "Malzeme Başarılı Bir Şekilde Eklendi.",
                            position: "topCenter"
                        })
                        setTimeout(function () {
                            document.location="/Product/Index";
                        },1000)
                    }
                    else {
                        console.log("abc")
                        iziToast.error({
                            title: "Hata",
                            message: "Ekleme Başarısız Oldu",
                            position:"topCenter"
                        })
                    }
                },
                error: function () {
                    iziToast.error({
                        title: "Hata",
                        message: "Ekleme Başarısız Oldu",
                        position: "topCenter"
                    })
                }
            })
        });


    </script>
}
